.layout-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

.layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-5xl);
  }
  
  .header {
    position: sticky;
    top: 0;
    width: 320px;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
  }
  
  .content {
    width: 800px;
    margin-top: 264px;
    padding-bottom: 100px;
    gap: var(--spacing-3xl);
    display: flex;
    flex-direction: column;
  }