.project-card {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background: var(--color-background);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(3, 87, 246, 0,1);
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 20px 56px 20px 56px;
    cursor: pointer;
  }
  
  .project-card:hover {
    background-color: var(--color-primary);
    color: var(--color-text-primary-inverse);
    box-shadow: 0 4px 40px rgba(3, 87, 246, 0.6);
    transform: translateY(-4px) scale(1.02);
  }


  .project-card p {
    transition: color 0.3s ease-in-out;
  }
  .project-card:hover p {
    color: var(--color-text-primary-inverse);
  }