.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-bg);
    color: var(--color-text-secondary);
    cursor: pointer;
    padding: 0;
    border: none;
  }
.social-button:hover {
    background-color: var(--color-primary);
    color: var(--color-text-primary-inverse);
  }

.SocialICons-Wrapper {
display: flex;
justify-content: start;
align-items: center;
gap: 16px;
}