.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f1f2f5;
    cursor: pointer;
    padding: 0;
  }

.SocialICons-Wrapper {
display: flex;
justify-content: start;
align-items: center;
gap: 16px;
}

.social-button button {
    background-color: #f1f2f5;
    color: #272837;
}