.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f1f2f5;
    color: #6F6F6F;
    cursor: pointer;
    padding: 0;
    border: none;
  }
.social-button:hover {
    background-color: #0357F6;
    color: white;
  }

.SocialICons-Wrapper {
display: flex;
justify-content: start;
align-items: center;
gap: 16px;
}