:root {
    /* COLORS */
    /* Primitive Tokens */
    --color-blue: #0357F6;
    --color-dark: #272837;  
    --color-grey500: #6F6F6F;
    --color-grey100: #f1f2f5;
    --color-white: #fff;

    /* Semantic Tokens */
    --color-text-primary: var(--color-dark);
    --color-text-primary-inverse: var(--color-white);
    --color-text-secondary: var(--color-grey500);
    --color-bg-primary: var(--color-blue);
    --color-bg-secondary: var(--color-grey100);   
    --color-bg-tertiary: var(--color-white);

    /* TEXT SIZES */
    /* Primitive Tokens */
    --size-text-sm: 1em;
    --size-text-md: 1.25em;
    --size-text-lg: 1.5em;
    --size-text-xl: 2em;
    --size-text-xxl: 2.5em;
    --size-text-xxxl: 3em;

    /* Semantic Tokens */
    --size-text-h1: var(--size-text-xxxl);
    --size-text-h2: var(--size-text-xxl);
    --size-text-h3: var(--size-text-xl);
    --size-text-h4: var(--size-text-lg);
    --size-text-p: var(--size-text-lg);
    --size-text-button: var(--size-text-md);
}